<!DOCTYPE html>
<html>
  <head>
	  <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <header>
    	<div class="headerContent">
	      <h1 class="surfeitTextLogo">Surfeit</h1>
	      <img class='surfeitLogo' src='images/SurfeitLogo.svg' />
	      <h2 class='dashboardTitle'>Dashboard</h2>
	      <a class='welcomeUser' href='#'>Welcome, [Username]</a>
    	</div>
    </header>
    
    <div class="container">
    	<table class="networkTable">
    	
    		<tr>
    			<td><img src="images/facebook500grey.png"></td>
    			<td><img src="images/twittergrey.png"></td>
    			<td><img src="images/instagram500grey.png"></td>
    		</tr>	
    		<tr>
    			<td><img src="images/rssgrey.png"></td>
    			<td><img src="images/youtubegrey.png"></td>
    			<td><img src="images/googleplusgrey.png"></td>
    		</tr>	
    </div>
  </body>
</html>
