<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <title>Parallax Content Slider with CSS3 and jQuery</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Parallax Content Slider with CSS3 and jQuery" />
        <meta name="keywords" content="slider, animations, parallax, delayed, easing, jquery, css3, kendo UI" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
		<script type="text/javascript" src="js/modernizr.custom.28468.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Economica:700,400italic' rel='stylesheet' type='text/css'>
		<noscript>
			<link rel="stylesheet" type="text/css" href="css/nojs.css" />
		</noscript>
    </head>
    <body style="background-image: url(images/waves.gif)">
        <div class="container">
			<!-- Codrops top bar -->

			<header>
				<h1 style="display: inline-block">Surfeit</h1>
				<img src="images/SurfeitLogo.svg" class="surfeitLandingLogo">
				<form class="loginForm" style="font-family: Surfeit; font-size: 46px; right: -315px; position: relative; top: -72px;">
				Email:<input type="text" style="height: 38px; font-size: 32px; top: -8px; position: relative;">
				Password:<input type="password" style="height: 38px; font-size: 32px; top: -8px; position: relative;">
				
				<span class="rememberMe"><input type="checkbox" value="remember">Remember Me</span>
				
				<a class="forgotPwd" href="#" style="font-size: 20px;
position: absolute;
top: 44px;
left: 744px;">Forgot Your Password?</a>


				</form>
				
			</header>
			<div id="da-slider" class="da-slider" style="top: -120px;">
				<div class="da-slide">
					<h2>Welcome To <em>Your</em> Internet</h2>
					<p>When you sign up for Surfeit, all of your social networks and rss feeds will be displayed in one large dynamic collection. Your Twitter, Facebook, Instagram, Pinterest, Youtube, Google+, and all RSS feeds will be in one simple collection.</p>
					<a href="#" class="da-link">Sign Up</a>
					<div class="da-img"><img src="images/surfeitLogo.svg" alt="surfeitlogo" /></div>
				</div>
				<div class="da-slide">
					<h2>Easy management</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					<a href="#" class="da-link">Read more</a>
					<div class="da-img"><img src="images/2.png" alt="image01" /></div>
				</div>
				<div class="da-slide">
					<h2>Revolution</h2>
					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
					<a href="#" class="da-link">Read more</a>
					<div class="da-img"><img src="images/3.png" alt="image01" /></div>
				</div>
				<div class="da-slide">
					<h2>Quality Control</h2>
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
					<a href="#" class="da-link">Read more</a>
					<div class="da-img"><img src="images/4.png" alt="image01" /></div>
				</div>
				<nav class="da-arrows">
					<span class="da-arrows-prev"></span>
					<span class="da-arrows-next"></span>
				</nav>
			</div>
        </div>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.cslider.js"></script>
		<script type="text/javascript">
			$(function() {
			
				$('#da-slider').cslider();
				
			});
		</script>	
    </body>
</html>