<!DOCTYPE html>
<html>
  <head>
	  <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <header>
    	<div class="headerContent">
	      <h1 class="surfeitTextLogo">Surfeit</h1>
	      <img class='surfeitLogo' src='images/SurfeitLogo.svg' />
	      <h2 class='createYourAccount'>My Account</h2>
	      <a class='alreadyMember' href='#'>Welcome, [USERNAME]</a>
    	</div>
    </header>
    
    <div class="container">
    	<form>
    		<span class="userInput">User Name: <input type="text" style="font-size: 32px;"></span> <br><br>
    		<span class="emailInput">Email: <input type="text" style="font-size: 32px;"> </span><br>
    		<p class="wereCool">Don't worry, we promise to never share, sell, or spam your email. We're cool like that.</p>
    		<span class="oldPwd">Old Password: <input type="password" style="font-size: 32px;"> </span><br>
    		<span class="newPwd">New Password: <input type="password" style="font-size: 32px;"></span> <br>
    		<span class="newConfirm">Password Confirm: <input type="password" style="font-size: 32px;"> </span>
    		<br><br>
    		
    		<button type="button" class="joinUs">Update!</button>
    	</form>
    </div>
  </body>
</html>
