<% @mediafeed.data.each do |media| %>
<div class="element width2 height2 instagram">
<img src="<%= media.images.first.last.url%>"><br>
<p style="display: none"><%= media.likes.first.last%></p>
</div>
<% end%>
