/* ******************************************************************************
 *
 * Font Stacks
 *
 ****************************************************************************** */
$surfeit: 'Surfeit';
$pt:  'PT Sans', sans-serif;
$pictograms: "Pictograms";
/* ******************************************************************************
 *
 * Colors
 *
 * By Color Name
 *
 ****************************************************************************** */
$facebookBlue: #526cab;
$twitterBlue: #4099ff;
$rssOrange: #c46e07;
$lightGrey: #e6e6e6;
$darkGrey: #5d5d5d;
$mediumGrey: #a7a7a7;
$yellow: #ffc940;

/* ******************************************************************************
 *
 * Colors
 *
 * By Usage Name, reference the color variables above, use the variables below
 * in the actual SASS partials throughout the site.
 *
 ****************************************************************************** */
$facebookColor: $facebookBlue;
$twitterColor: $twitterBlue;
$rssColor: $rssOrange;
$containerColor: $lightGrey;
$authorColor: $mediumGrey;
$tileTextColor: $darkGrey;

/* ******************************************************************************
 *
 * Site specific variables
 *
 ****************************************************************************** */

