.surfeitLandingLogo {
width: 50px;
position: absolute;
left: 20px;
top: 10px;
}

.surfeitLogoTitle {
	font-family: "Surfeit";
	font-size: 50px;
	display: block;
	width: 232px;
	top: 13px;
	position: relative;
	left: 78px;
}

.content {
	display: block;
	height: 50px;
	clear: both;
}

input {
	height: 38px;
	font-size: 32px;
	width: 320px;
	position: relative;
	bottom: 82px;
	left: 390px;
}

.rememberMe {
	display: block;
	position: relative;
	font-size: 14px;
	color: white;
	bottom: 120px;
	left: 146px;
}

.loginForm{
	font-size: 20px;
	position: relative;
	width: 955px;
}

.forgotPwd {
	font-size: 14px;
	position: absolute;
	top: 66px;
	left: 603px;
	color: white;
}

.loginButton {
	bottom: 77px;
	left: 865px;
}

