@font-face {
   font-family: 'PT Sans', sans-serif;
}

@font-face {
	font-family: 'Surfeit';
	src: url(andes.ttf)
}

/*

  var-grey: #ccc;
  
  var-brick: #81212D;
  
  var-sunnyD: #FFC938
  
  var-mint: #f9ffd9;
  
  var-black: #181820;
  
  var-sky: #97CAD5;
*/

body{
	font-family: 'PT Sans';
}

.colorBrick{
	background: #81212D;
}

.colorSunnyD{
	background: #FFC938;
}

.colorMint{
	background: #f9ffd9;
}

.colorBlack{
	background: #181820;
}

.colorSky{
	background: #97CAD5;
}

.colorGrey{
	background: #ccc;
}

.zNeg{
	z-index: -1;
}

.z0{
	z-index: 0;
}

.z1{
	z-index: 1;
}
.z2{
	z-index: 2;
}
.z3{
	z-index: 3;
}


/* CONTAINER 1, ROW 1 /////////////////////////////////////////////////////////////////////////////////////////////////////// */

.signUp{
font-family: Pacifico;
text-decoration: none;
color: #81212D;
font-size: 56px;
position: absolute;
top: -10px;
text-shadow: 1px 1px 2px #181820;
margin-left: 25%;
	
}

.surfeitLogoTitle{
font-family: Surfeit;
font-size: 136px;
font-weight: 100;
text-shadow: 1px 1px 4px #81212D;
color: #181820;
width: 290px;
margin: 0 auto;
}

.surfeitLandingLogo{
width: 89%;
margin-top: 5%;
margin-left: 6%;
}

.logoBox{
position: relative;
height: 208px;
border-bottom-left-radius: 108px;
border-bottom-right-radius: 108px;
}

.logoHolder{
width: 77px;
margin: 0 auto;
border: solid 2px #81212D;
border-radius: 340px;
z-index: 4;
}

.signUpHolder{
	height: 200px;
	border-top-right-radius: 60px;
}

.loginForm{
color: #81212D;
height: 48px;
}

.emailEntry{
width: 178px;
float: right;
}

.pwdEntry{
width: 205px;
position: absolute;
right: 0px;
top: 23px;
}

.loginFormBox{
	height:	200px;
	border-top-left-radius: 60px;
}

.loginButton{
	position: absolute;
right: 6px;
width: 123px;
border: none;
top: 46px;
background: #97CAD5;
}

.forgotPwd{
position: absolute;
right: 6px;
text-decoration: none;
color: #81212D;
font-size: 16px;
top: 68px;
}


/* CONTAINER 1, ROW 2 /////////////////////////////////////////////////////////////////////////////////////////////////////// */
.secondRow{
	height: 164px;
position: relative;
top: -112px;
}

.cake{
	height: 233px;
}

.cake *{
	position: relative;
}

.frosting{
	height: 100%
}

.thingOne{
height: 100%;
width: 49.5%;
border-top-right-radius: 170px;
position: absolute;
}

.thingTwo{
height: 100.5%;
width: 49.5%;
position: absolute;
border-top-left-radius: 170px;
right: 0;
z-index: 1;
}

.creamWrap{
height: 100%;
top: 104px;	
}

.center .thingOne{
border-top-right-radius: 66px;
border-bottom-right-radius: 1px
}

.center .thingTwo{
border-top-left-radius: 66px;
border-bottom-left-radius: 1px
}

/* CONTAINER 1, ROW 3 /////////////////////////////////////////////////////////////////////////////////////////////////////// */

.thirdRow{
	top: -112px;
position: relative;
}

.sliderHolder{
	height: 400px;
}

.fixture{
	position: absolute;
height: 43px;
width: 100%;
}

.fixieOne{
height: 100%;
width: 49.6%;
position: absolute;
border-bottom-right-radius: 60px;
	
}

.fixieTwo{
	height: 100%;
width: 49.6%;
position: absolute;
border-bottom-left-radius: 60px;
right: 0;
}

.television{
	position: relative;
height: 300px;
width: 100%;
top: 43px;
margin: 0 auto;
border-radius: 200px;
}











/* /////////////////////////////////////////////////////////////////////INTITAL MEDIA QUERY/////////////////////////////////////////////////////////// */
@media only screen and (max-width: 1023px) {

}
/* /////////////////////////////////////////////////////////////////////SECOND MEDIA QUERY//////////////////////////////////////////////////////////// */

@media handheld, only screen and (max-width: 767px) {


}
