@font-face {
    font-family: "Surfeit";
    src: url(fonts/andes.ttf) format("truetype");
}


body{
	background: black;
}

header{
	display: block;
	position: relative;
	border-bottom: solid;
	background-image: url(images/waves.gif);
	width: 100%;
	left: -16px;
	height: 118px;
	top: -10px;
	padding-right: 26px;
}

input{
	font-size: 32px;
}

.headerContent{
	position: relative;
	top: 12px;
	left: 18px;
}

.surfeitTextLogo{
	display: inline-block;
	font-family: Surfeit;
	font-size: 110px;
	position: relative;
	color: #000;
	text-shadow: 1px 1px 1px #F00;
	top: -78px;
}

.surfeitLogo{
	width: 90px;
	position: absolute;
	left: 260px;
}

.createYourAccount{
	position: absolute;
	top: -34px;
	font-family: Surfeit;
	left: 548px;
	font-size: 62px;
}

.alreadyMember{
	font-family: Surfeit;
float: right;
font-size: 19px;
color: black;
top: -254px;
left: 1px;
position: relative;
}

.container{
	width: 800px;
	height: 600px;
	top: 9px;
	position: relative;
	background-color: black;
	border-radius: 8px;
	margin:	auto;
}

.container form{
	font-family: Surfeit;
	color: #9BF3D4;
	font-size: 48px;
}

.nameInput{
	position: absolute;
	left: 168px;
	top: 20px;
}

.userInput{
	left: 81px;
	position: relative;
}

.emailInput{
	position: relative;
	left: 170px;
	top: -24px;
}

.oldPwd{
	position: relative;
	left: -26px;
	top: -48px;
}

.newPwd{
	position: relative;
	top: -26px;
	left: -24px;
}

.newConfirm{
	position: relative;
	left: -95px;
}

.wereCool{
	font-size: 20px;
color: red;
position: relative;
top: -32px;
left: 84px;
}

.joinUs{
	width: 336px;
height: 96px;
font-size: 46px;
font-family: Surfeit;
background-color: #9BF3D4;
position: relative;
left: 272px;
border-radius: 5px;
border-color: red;
}









