@font-face{
	font-family: 'Magic';
	src: url(euro.ttf);
}

body{
	background: -webkit-radial-gradient(#ffffff 0%, #d8d8d8 100%);
	height: 680px;
}

.nombre{
font-family: Magic;
font-size: 124px;
margin: 0 auto;
width: 400px;
height: 94px;
line-height: 1;
padding-bottom: 74px;
}

.backstep{
text-decoration: none;
color: white;
font-size: 76px;
}

.mottoLabel{
	width: 276px;
margin: 0 auto;
}

.surfeitTitle{
position: relative;
top: 10px;
color: black;
text-shadow: 0px 0px 2px rgb(255, 134, 3)
}
.sliderHex{
	width: 500px;
margin: 0 auto;
}
.slideCube{
position: relative;
height: 500px;
margin: auto;
left: 137px;
z-index: 1;
}


.signUpHex{
	height: 0;
top: -512px;
position: relative;
}

.side{
	position: absolute;
	width: 220px;
	height: 220px;
	background: #530000;
}

.top{
		
	-webkit-transform: rotate(-45deg) skew(15deg, 15deg);
	position: absolute;
	top: 0.5px;
	
	background: #530000; /* Old browsers */
	background: -moz-linear-gradient(224deg, rgb(212, 0, 231) 0%, #c90000 100%); /* FF3.6+ */ 
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgb(212, 0, 231)), color-stop(100%,#c90000)); /* Chrome,Safari4+ */ 
	background: -webkit-linear-gradient(224deg, rgb(212, 0, 231) 0%,#c90000 100%); /* Chrome10+,Safari5.1+ */ 
	background: -o-linear-gradient(224deg, rgb(212, 0, 231) 0%,#c90000 100%); /* Opera 11.10+ */ 
	background: -ms-linear-gradient(224deg, rgb(212, 0, 231) 0%,#c90000 100%); /* IE10+ */ 
	background: linear-gradient(224deg, rgb(212, 0, 231) 0%,#c90000 100%); /* W3C */ 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#530000', endColorstr='#c90000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */;
}

.left{
	
	-webkit-transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
	background: #530000; /* Old browsers */
	 background: -moz-linear-gradient(45deg, rgb(255, 134, 3) 0%, #c90000 100%); /* FF3.6+ */ 
	 background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgb(255, 134, 3)), color-stop(100%,#c90000)); /* Chrome,Safari4+ */ 
	 
	background: -webkit-linear-gradient(45deg, rgb(255, 134, 3) 0%,#c90000 100%); /* Chrome10+,Safari5.1+ */
	 background: -o-linear-gradient(45deg, rgb(255, 134, 3) 0%,#c90000 100%); /* Opera 11.10+ */ 
	 background: -ms-linear-gradient(45deg, rgb(255, 134, 3) 0%,#c90000 100%); /* IE10+ */ 
	 background: linear-gradient(45deg, rgb(255, 134, 3) 0%,#c90000 100%); /* W3C */ 
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#530000', endColorstr='#c90000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */;
}

.right{
	
	-webkit-transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
	background: -moz-linear-gradient(135deg, rgb(2, 161, 250) 0%, #c90000 100%); /* FF3.6+ */ 
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgb(2, 161, 250)), color-stop(100%,#c90000)); /* Chrome,Safari4+ */ 
	background: -webkit-linear-gradient(135deg, rgb(2, 161, 250) 0%,#c90000 100%); /* Chrome10+,Safari5.1+ */ 
	background: -o-linear-gradient(135deg, rgb(2, 161, 250) 0%,#c90000 100%); /* Opera 11.10+ */ 
	background: -ms-linear-gradient(135deg, rgb(2, 161, 250) 0%,#c90000 100%); /* IE10+ */
	background: linear-gradient(135deg, rgb(2, 161, 250) 0%,#c90000 100%); /* W3C */ 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#530000', endColorstr='#c90000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */;
}

.signUpCube{
width: 230px;
height: 230px;
margin: 0 auto;
position: relative;
left: -199px;
top: -513;
z-index: 2;
-webkit-transition: -webkit-transform 1500ms;
}

.signUpCube .side{
	width: 120px;
	height: 120px;
	background: rgba(43,41,41,0.7);
	-webkit-transition: background 1500ms;
	left: 54px;
}

.signUpCube:hover{
	-webkit-transform: rotate(-360deg);
}

.signUpCube:hover .side{
background: -moz-linear-gradient(45deg, rgba(248,80,50,0.6) 0%,rgba(241,111,92,0.6) 50%,rgba(246,41,12,0.6) 51%,rgba(240,47,23,0.6) 71%,rgba(231,56,39,0.6) 100%); /* FF3.6+ */
background: -webkit-linear-gradient(45deg, rgba(50, 232, 248, 0.6) 0%,rgba(92, 229, 241, 0.6) 50%,rgba(12, 162, 246, 0.6) 51%,rgba(23, 223, 240, 0.6) 71%,rgba(39, 139, 231, 0.6) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(45deg, rgba(248,80,50,0.6) 0%,rgba(241,111,92,0.6) 50%,rgba(246,41,12,0.6) 51%,rgba(240,47,23,0.6) 71%,rgba(231,56,39,0.6) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(248,80,50,0.6) 0%,rgba(241,111,92,0.6) 50%,rgba(246,41,12,0.6) 51%,rgba(240,47,23,0.6) 71%,rgba(231,56,39,0.6) 100%); /* IE10+ */
background: linear-gradient(45deg, rgba(248,80,50,0.6) 0%,rgba(241,111,92,0.6) 50%,rgba(246,41,12,0.6) 51%,rgba(240,47,23,0.6) 71%,rgba(231,56,39,0.6) 100%); /* W3C */

}

.signUpCube .top{
	width: 119px;
height: 120px;

	left: 55px;
top: 0;
}

.engraving{
position: absolute;
height: 119px;
font-size: 70px;
width: 187px;
z-index: 4;
color: white;
left: 25px;
line-height: .8;
font-family: Magic;
text-shadow: 2px 2px 2px black;
top: 92px;
}

.signUp{
text-decoration: none;
color: white;
text-align: center;
font-size: 56px;
}

.motto{
font-family: Magic;
font-size: 31px;
margin: -55px auto 0px auto;
width: 392px;
height: 94px;
color: black;
text-shadow: 0px 0px 2px rgb(255, 134, 3);
line-height: 1;
font-weight: 900;
}

.zipOne{
	position: relative;
top: 27px;
left: -12px;
}

.zipTwo{
	position: relative;
top: 42px;
left: 22px;
}

.loginHex{
position: relative;
width: 225px;
height: 225px;
top: -800px;
margin: 0 auto;
}

.loginCube{
height: 225px;
position: relative;
left: 264px;
top: 206px;
}

.loginCube .side{
	width: 100px;
	height: 100px;
	background: black;
}

.loginCube .right{
	z-index: 2;
	height: 190px;
}

.loginCube .left{
	height: 190px;
}

.loginCube .top{
	top: 92px;
}

.logoHolder{
width: 210px;
height: 210px;
margin: 0 auto;
position: relative;
top: 330px;
z-index: 5;
border-radius: 100%;
box-shadow: 0px 0px 44px;
}

.fixit {
position: relative;
top: -244px;
}

.logo{
	width: 100%;
opacity: 0.33;
}

.emailMobileEntry{
	height: 60px;
}

.formHolder{
width: 184px;
margin: 0 auto;
z-index: 6;
position: relative;
top: 298px;
font-size: 19px;
font-family: 'PT sans';
color: white;
text-align: center;
text-shadow: 1px 1px 2px black;
}

.aboard{
	
}

.actions{
	
}

.cubicHolder{
	height: 477px;
width: 600px;
margin: 0 auto;
top: -250px;
position: relative;
}

.pwdMobileEntry{
	height: 60px;
top: -23px;
position: relative;
}

#password{
	width: 90px;
top: 32px;
position: relative;
}
.right span{
position: absolute;
right: -2;
color: white;
font-family: 'PT sans';
font-size: 33px;
line-height: 1;
text-shadow: 0px 0px 19px white;
}

.right .loginButtonHolder{
top: 145px;
font-size: 32;
left: 1px;
}
