
body{
	background: black;
}

header {
	display: block;
	position: relative;
	border-bottom: solid;
	background-image: url('waves.gif');
	width: 100%;
	left: -16px;
	height: 80px;
	top: -10px;
	padding-right: 26px;
}

.headerContent{
	position: relative;
	top: 12px;
	left: 18px;
}

.surfeitTextLogo{
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	position: relative;
	color: black;
	text-shadow: 1px 1px 1px red;
	top: -44px;
}

form input{
	font-size: 32px;
}

.actions{
	
}

.surfeitLogo {
	width: 50px;
	position: absolute;
	left: 180px;
}

.createYourAccount {
	position: absolute;
	top: -4px;
	font-family: 'Open Sans', sans-serif;
	left: 841px;
	font-size: 20px;
}

.alreadyMember{
	font-family: 'Open Sans', sans-serif;
	float: right;
	font-size: 19px;
	color: black;
	top: -254px;
	left: 1px;
	position: relative;
}

.container{
	width: 800px;
	height: 600px;
	top: 9px;
	position: relative;
	background-color: black;
	border-radius: 8px;
	margin:	auto;
}

.container form {
	font-family: 'Open Sans', sans-serif;
	color: #9BF3D4;
	margin: auto;
	width: 550px;
	height: 450px;
	font-size: 14px;
}

input {
	width: 375px;
	display: block;
	height: 25px;
}

.nameInput {

}

.userInput{
}

.emailInput{
}

.pwdInput{
}

.pwdConfirm{
}

.updateInput{
}

.wereCool {
	color: red;
	width: 375px;
	line-height: 16px;
	font-size: 11px;
	margin: 0 0 10px;
}
.actions input {
	width: 336px;
	height: 96px;
	font-family: 'Open Sans', sans-serif;
	background-color: #9BF3D4;
	position: relative;
	border-radius: 5px;
}









