
body{
	background: #EFEFEF;
}

header {
	display: block;
	position: relative;
	border-bottom: 1px solid;
	width: 100%;
	left: -16px;
	height: 80px;
	top: -10px;
	padding-right: 26px;
	background: #8F8F8F;
}

.headerContent{
	position: relative;
	top: 12px;
	left: 18px;
}

.surfeitTextLogo {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
	position: relative;
	color: white;
	top: -44px;
	left: 20px;
}

.surfeitLogo {
	width: 50px;
	position: absolute;
	left: 200px;
}

form input {
	font-size: 32px;
	margin: 0 0 20px;
}


.createYourAccount {
	position: absolute;
	top: -4px;
	font-family: 'Open Sans', sans-serif;
	left: 841px;
	font-size: 20px;
}

.alreadyMember{
	font-family: 'Open Sans', sans-serif;
	float: right;
	font-size: 19px;
	color: black;

	top: -254px;
	left: 1px;
	position: relative;
}

.container {
	width: 1000px;
	height: 600px;
	top: 20px;
	position: relative;
	background-color: #EFEFEF;
	border-radius: 8px;
	margin: auto;
}

.container form {
	font-family: 'Open Sans', sans-serif;
	color: #8F8F8F;
	font-size: 13px;
}

input {
	width: 350px;
	display: block;
	height: 44px;
}


.wereCool {
	color: #FFB13D;
	width: 350px;
	line-height: 16px;
	font-size: 11px;
	margin: 0 0 10px;
}
.actions input {
	width: 200px;
	height: 44px;
	font-family: 'Open Sans', sans-serif;
	background-color: #FFC940;
	position: relative;
	border-radius: 5px;
	font-size: 18px;

}

.actions{
	padding-top: 15px;
}

.nameInput {
}

.userInput{
}

.emailInput{
}

.pwdInput{
}

.pwdConfirm{
}

.updateInput{
}







