<h1>Authorized websites to pull data from:</h1>

<ul>
  <li><%= link_to "Authorize Instagram", instagram_access_path %></li>
  <li><%= link_to 'Authorize this Facebook app', facebook_auth_url, :class=>"button" %></li>
</ul>