<h1>Authorized websites to pull data from:</h1>

<ul>
  <li><%= link_to "Authorize Instagram", Instagram.authorize_url(redirect_uri: authorize_instagram_url) %></li>
  <li><%= link_to 'Authorize this Facebook app', facebook_auth_url, :class=>"button" %></li>
</ul>